---
permalink: site-config.js
eleventyExcludeFromCollections: true
---
window.siteConfig = {{ {
  "analyticsId": business.analyticsId,
  "email": business.email,
  "packages": packages,
  "audit": audit
} | json | safe }};
